<div class="title-block">
  <h1>TODOs</h1>
  <button (click)="openModal()">Add</button>
</div>
<!-- Filter control section-->
<div class="filters">
  <div>
    <label for="priorityFilter">Filter by priority:</label>
    <select id="priorityFilter" [(ngModel)]="priorityFilter">
      <option value="">All</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>

  <div>
    <label for="descriptionFilter">Filter by description:</label>
    <input id="descriptionFilter" type="text" [(ngModel)]="descriptionFilter">
  </div>
</div>

<!-- List-->
<div class="card-group">
  <div class="card" *ngFor="let todo of filteredTodos">
    <div class="card-header">
      {{ todo.description }}
    </div>
    <div class="card-content">
      <p>Due date: {{ todo.dueDate | date }}</p>
      <p>Priority: {{ todo.priority }}</p>
    </div>
    <div class="card-actions">
      <button class="delete-button" (click)="deleteTodoById(todo.id)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>


<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <h2 class="modal-title">Add Todo</h2>

    <form (submit)="addTodo($event)">
      <label for="description">Description:</label>
      <input id="description" type="text" required name="description" [(ngModel)]="newTodo.description" required>
      <label for="dueDate">Due Date</label>
      <input id="dueDate" type="date" required name="dueDate" [(ngModel)]="newTodo.dueDate" required>
      <label for="priority">Priority:</label>
      <select id="priority" name="priority" required [(ngModel)]="newTodo.priority" required>
        <option value="" selected disabled hidden>Choose a priority</option>
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
      </select>
      <button type="submit" class="submit-modal-button">Add</button>
      <button type="button" class="close-modal-button" (click)="closeModal()">Cancel</button>
    </form>
  </div>
</div>